/* The overlay background that will cover the entire screen */
.loading-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    /* background-color: rgba(0, 0, 0, 0.5); Semi-transparent black background */
    /* backdrop-filter: opacity(100%); Blurring the background */
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    z-index: 1000; /* Ensure it is on top of other content */
  }
  
  /* The spinner itself */
  .spinner {
    width: 56px;
    height: 56px;
    border-radius: 50%;
    background: conic-gradient(#0000 10%, #474bff);
    mask: radial-gradient(farthest-side, #0000 calc(100% - 9px), #000 0);
    animation: spinner-zp9dbg 1s infinite linear;
  }
  

  /* Spinner animation */
  @keyframes spinner-zp9dbg {
    to {
      transform: rotate(1turn);
    }
  }


  .blob {
     width: 176px;
     height: 176px;
     display: grid;
     filter: blur(1px) contrast(20);
     padding: 17.6px;
     mix-blend-mode: darken;
  }
  
  .blob:before,
  .blob:after {
     content: "";
     grid-area: 1/1;
     width: 70.4px;
     height: 70.4px;
     background: #474bff;
     animation: blob-rhf26m 2s infinite;
  }
  
  .blob:after {
     animation-delay: -1s;
  }
  
  @keyframes blob-rhf26m {
     0% {
        transform: translate(0, 0);
     }
  
     25% {
        transform: translate(100%, 0);
     }
  
     50% {
        transform: translate(100%, 100%);
     }
  
     75% {
        transform: translate(0, 100%);
     }
  
     100% {
        transform: translate(0, 0);
     }
  }
